{"SolutionName":"Demo","SolutionPath":"C:\\Projects\\Demo","Database":"Sqlite","API":"http://localhost:5150","UI":"http://localhost:5000","Features":[{"Name":"Users","Dto":"UserDto","DtoPath":"C:\\Projects\\Demo\\Demo.Data.Sqlite\\Models\\UserDto.cs"},{"Name":"MCPServers","Dto":"MCPDto","DtoPath":"C:\\Projects\\Demo\\Demo.Shared\\DTO\\MCPDto.cs"}]}